.App {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-content: center;
  text-align: center;
}
.All {
  background-color: rgb(169, 207, 216);
}
.select {
  background-color: rgb(243, 125, 160);
  width: 30vw;
}